<% options = %w{vizitka promo landing corp store audit inner seocomplex facebook vk instagram smmcomplex}.select{|p| @order.send(p) }

<p>Name: <p><%= @order.name %></p>

<p>Contact: <p><%= @order.contact %></p>

<p>Selected: <%= options %></p>

<% if @order.message %>
  <p><%= @order.message %></p>
<% end %>

<% if @order.promocode %>
  <p>Promo code: <%= @order.promocode %></p>
<% end %>
