<% if @order.vizitka %>
  <p>Визитка: <%= @order.vizitka %></p>
<% end %>

<% if @order.promo %>
  Промо: <p><%= @order.promo %></p>
<% end %>

<% if @order.landing %>
  Landing: <p><%= @order.landing %></p>
<% end %>

<% if @order.corp %>
  Corp: <p><%= @order.corp %></p>
<% end %>

<% if @order.store %>
  Интернет-магазин: <p><%= @order.store %></p>
<% end %>

<% if @order.audit %>
  Аудит: <p><%= @order.audit %></p>
<% end %>

<% if @order.inner %>
  Внутренняя оптимизация: <p><%= @order.inner %></p>
<% end %>

<% if @order.seocomplex %>
  Аудит комплексный: <p><%= @order.seocomplex %></p>
<% end %>

<% if @order.facebook %>
  Facebook: <p><%= @order.facebook %></p>
<% end %>

<% if @order.vk %>
  Vk: <p><%= @order.vk %></p>
<% end %>

<% if @order.instagram %>
  Instagram: <p><%= @order.instagram %></p>
<% end %>

<% if @order.smmcomplex %>
  SMM complex: <p><%= @order.smmcomplex %></p>
<% end %>

<% if @order.name %>
  Name: <p><%= @order.name %></p>
<% end %>

<% if @order.message %>
  <p><%= @order.message %></p>
<% end %>

<% if @order.promocode %>
  Promo code: <p><%= @order.promocode %></p>
<% end %>
